// .canvas-container {
//   display:flex; 
//   flex-direction: column;
//   gap: 1rem;
// }

// /* Estilo general para los contenedores */
// // div {
// //   display: flex;
// //   justify-content: center; /* Centra el contenido horizontalmente */
// //   align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
// //   margin: 0; /* Elimina márgenes extra */
// //   padding: 0; /* Elimina el padding extra */
// //   box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño del contenedor */
// // }

// /* Contenedor para el canvas_categoric */
// .container-categoric {
//   width: 100%; /* Ocupa todo el ancho disponible */
//   margin-bottom: 20px; /* Espacio entre los contenedores */

// }

// /* Contenedor para el canvas_accumulated */
// .container-accumulated {
//   width: 50%; /* Ocupa la mitad del ancho del contenedor padre */
//   margin: 0; /* Elimina el centrado automático */
//   float: left; /* Hace que el contenedor se mueva a la izquierda */
// }

// /* Estilo para los canvas */
// .canvas-categoric, .canvas-accumulated {
//   width: 100%; /* Hace que el canvas ocupe todo el ancho disponible */
//   height: auto; /* Ajusta la altura proporcionalmente */
//   max-width: 100%; /* Evita que el canvas exceda el tamaño del contenedor */
//   max-height: 100%; /* Evita que el canvas exceda el tamaño del contenedor */
//   object-fit: contain; /* Mantiene la proporción del canvas sin distorsionarlo */
// }

@media (min-width:1024px) {
  .canvas-accumulated {
    width: 50%; /* Ajusta el ancho según lo necesites */
    height: 400px; /* Ajusta la altura según lo necesites */
    margin-left: 0; /* Asegura que el canvas se pegue a la izquierda */
    margin-right: 0; /* Opcional: elimina el margen derecho */
  }
}


/** EMOTIONS COLORS **/
.color-joy {
  color: #FFEB3B; /* Amarillo pastel */
  background-color: #FFEB3B; /* Amarillo pastel */
}

.color-sadness {
  color: #A2C2E1; /* Azul pastel */
  background-color: #A2C2E1; /* Azul pastel */
}

.color-anger {
  color: #FF7F7F; /* Rojo pastel */
  background-color: #FF7F7F; /* Rojo pastel */
}

.color-fear {
  color: #A8D5BA; /* Verde pastel */
  background-color: #A8D5BA; /* Verde pastel */
}

.color-disgust {
  color: #877459; /* Verde amarronado */
  background-color: #877459; /* Verde amarronado */
}

.color-neutral {
  color: #FFF8E7; /* Beige */
  background-color: #FFF8E7; /* Beige */
}

