<div class="container-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
      <div class="form-group">
        <label for="userId">Identificación del usuario:</label>
        <div class="form-group">
            <ng-select
              id="userId"
              [items]="ids"
              bindLabel="label"
              bindValue="value"
              formControlName="userId"
              placeholder="ID Usuario..."
              [searchable]="true"
              (change)="onTimeChange($event)"
            >
            </ng-select>
          </div>
      </div>
      <div class="invalid-feedback" *ngIf="form.get('userId')?.invalid && form.get('userId')?.touched">
        * La identificación del usuario es obligatoria.
      </div>
    </div>
      <div class="row">
        <div class="col-2 col-sm-6">
          <div class="form-group">
            <label for="time">Ventana temporal:</label>
            <ng-select
              id="time"
              [items]="options"
              bindLabel="label"
              bindValue="value"
              formControlName="time"
              placeholder="Elija fecha..."
              [searchable]="false"
              (change)="onTimeChange($event)"
            >
            </ng-select>
          </div>
      </div>
      <div class="col-2 col-sm-6">
        <div class="form-group">
          <button class="btn-initial" type="button" [disabled]="isDatesDisabled" (click)="focusStartDate()">
            <i class="bi bi-calendar"></i> Elegir fecha
          </button>
        </div>
    </div>
    </div>
        <div class="row">
          <!-- Columna para el campo Hiring Date -->
          <div class="col-2 col-sm-6">
            <div class="form-group">
              <label for="startDate">Inicio:</label>
              <input type="date" id="startDate" formControlName="startDate" #startDate
              (change)="onManualDate()"/>
            </div>
          </div>
          <!-- Columna para el campo Registration Date -->
          <div class="col-2 col-sm-6">
            <div class="form-group">
              <label for="endDate">Fin:</label>
              <input type="date" id="endDate" formControlName="endDate" 
              (change)="onManualDate()"/>
            </div>
          </div>
          <div class="invalid-feedback d-block" *ngIf="form.errors?.['invalidDateRange'] && form.get('endDate')touched">
            * La fecha de fin no puede ser anterior a la fecha de inicio.
          </div>
          
          <div class="invalid-feedback d-block" *ngIf=" form.get('userId')?.valid && form.errors?.['dateOrTimeRequired'] && form.touched">
            * Debes seleccionar una ventana temporal o proporcionar fecha de inicio y fin.
          </div>
        </div>
      <div class="row">
      <div class="form-group">
        <fieldset>
          <legend>Tipo de gráfico:</legend>
          <label>
            <input type="radio" formControlName="charType" value="0" (change)="onCharTypeChange('0')" /> Categoric
          </label>
          <label>
            <input type="radio" formControlName="charType" value="1" (change)="onCharTypeChange('1')" /> Dimensional
          </label>
        </fieldset>
      </div>
    </div>
    <button type="submit" class="btn-initial" >Show</button>
  </form>      
</div>
