
<div class="individual-container">
    <div class="form">
      <app-individual-form (charTypeChange)="onCharTypeChange($event)"></app-individual-form>
    </div>
    <div class="charts">
      <app-dimensional *ngIf="charType === '1'"></app-dimensional>
      <app-categoric *ngIf="charType === '0'"></app-categoric>
    </div>
    <!-- <div *ngIf="charType === '0'" class="charts">
      <app-categoric ></app-categoric>
    </div>
    <div *ngIf="charType === '1'" class="charts">
      <app-dimensional ></app-dimensional>
    </div> -->
  </div>
  