<div class="menu-container">
  <div class="logo-container">
    <a mat-button routerLink="/">
      <img src="img/logo_white.png" alt="WebEmotions Logo" class="logo-image">
    </a>
  </div>
  <button class="hamburger-menu" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <mat-toolbar *ngIf="!isLoginPage" class="menu">
    <a mat-button routerLink="/representation">Representación</a>
    <a mat-button routerLink="/analysis">Análisis</a>
    <a mat-button routerLink="/audio">Audio</a>
    <a mat-button routerLink="/csv">CSV</a>
    <a mat-button routerLink="/register">Trabajadores</a>
  </mat-toolbar>
  

  <div *ngIf="!isLoggedIn && !isLoginPage && !menuOpen" class="login">
    <button class="btn-secondary" routerLink="/login">Login</button>
  </div>

  <div *ngIf="isLoggedIn && !isLoginPage" class="login" >
    <button class="btn-secondary" (click)="logout()">Logout</button>
  </div>

</div>
