.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem; /* 10px se ha convertido en rem */
  margin: 0 5rem;
}

  .logo-image {
    width: 15rem; /* 150px se ha convertido en rem (150px / 16px base = 9.375rem) */
  }


/* Menú de navegación */
.menu {
  display: flex;
  justify-content: center;
  gap: 3rem; /* 20px se ha convertido en rem (20px / 16px base = 1.25rem) */
  // margin-top: 2rem;
}

.menu a {
  font-family: 'FraktionMono',monospace ;
  text-transform: uppercase;
  font-size: 1rem; /* Tamaño de texto relativo */
}

/* Estilo para el botón hamburguesa */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 0.3125rem; /* 5px se ha convertido en rem (5px / 16px base = 0.3125rem) */
}

.hamburger-menu .bar {
  width: 1.875rem; /* 30px se ha convertido en rem (30px / 16px base = 1.875rem) */
  height: 0.25rem; /* 4px se ha convertido en rem (4px / 16px base = 0.25rem) */
  background-color: white;
}

/* Para pantallas pequeñas */
@media (max-width: 1024px) { /* 768px se ha convertido en rem (768px / 16px base = 48rem) */
  .menu {
    display: none; /* Ocultar menú en pantallas pequeñas */
  }
  
  .menu-container{
    padding:0.5rem;
    margin: 0 auto;
  }

  .hamburger-menu {
    display: flex; /* Mostrar el menú hamburguesa */
  }

  .logo-image {
    width: 5rem; /* 150px se ha convertido en rem (150px / 16px base = 9.375rem) */
  }

  .menu-container.active .menu {
    display: block; /* Mostrar menú cuando se activa el hamburguesa */
  }
}
