.inferior-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.controls-div {
  margin-left: auto; /* Empuja el div de controles hacia la derecha */
  display: flex; /* Para organizar sus hijos, si es necesario */
  gap: 10px; /* Espacio entre el botón y el enlace */
}

/* Selecciona todos los divs cuya clase comienza con "emotions" */
div[class^="emotions"] {
  background-color: aquamarine;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos de la izquierda y derecha */
  gap: 40px;
  background-color: var(--soft-gray-color);
  border-radius: 40px;
  margin-bottom: 100px;
  padding: 20px; /* Agrega el padding deseado */
  box-sizing: border-box; /* Asegura que el padding no agrande el contenedor */
  overflow: hidden;
}

.buttons {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  gap: 10px;
}


.btn-secondary{
  margin-right: 100px;
}

.left-container {
  flex: 1; /* Esto hace que el párrafo ocupe el espacio disponible a la izquierda */
  margin: 0 80px; /* Espacio entre el texto y la imagen */
}

.right-container {
  margin-top: 20px;
  margin-right: 160px;
  flex: 2; /* Hace que el2 contenedor derecho ocupe más espacio */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  margin-top: 20px; /* Margen superior */
  margin-bottom: 20px; /* Margen inferior */
}

.separator {
  border-bottom: solid 1px grey;
  width: 80%;
  margin: 0 auto; /* Centra el elemento horizontalmente */
  margin-bottom: 80px;
  display: flex;
  justify-content: center; /* Opcional si tienes contenido dentro */
  align-items: center; /* Alinea el contenido verticalmente */
}

.records {
display: flex;
justify-content: space-between; /* Distribuye el espacio entre el título, grabaciones y botón */
align-items: center; /* Alinea verticalmente los elementos */
}


@media (max-width: 1024px) {
  .main-info {
    flex-direction: column;
    justify-content: center; /* Distribuye los elementos de la izquierda y derecha */
    text-justify: distribute;
    align-content: center;
    gap: 5px;
    background-color: var(--soft-gray-color);
    border-radius: 40px;
    margin-bottom: 100px;
    padding: 0; /* Agrega el padding deseado */
    box-sizing: border-box; /* Asegura que el padding no agrande el contenedor */
    overflow: hidden;
    width: 100%;
    // height: 50vh;
  }

  .buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    margin-bottom: 0px;
    align-items: center;
  }

  .btn-secondary {
    margin-right: 0;
  }

  .left-container{
    width: 90%; /* Asegura que ambos contenedores ocupen el 90% del ancho */
    margin-bottom: 20px; /* Separar los contenedores */
  }
  .right-container {
    width: 90%; /* Asegura que ambos contenedores ocupen el 90% del ancho */
    margin-bottom: 20px; /* Separar los contenedores */
    margin-left:0;
    margin-right: 0;
  }
  
  .right-container {
    order: 2; /* Asegura que el right-container esté debajo de left-container */
  }

  .buttons {
    margin-top: 0;
  }
}

@media (max-width:768px) {

  .left-container {
    text-align: center;
  }

  .silence-interval {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
  }
}