<div class="audio-visualizer">
   <div class="main-info">
      <div class="left-container">
         <h1>Reconocimiento de voz en tiempo real</h1>
         <p>Grabación de audio y más concretamente voz en tiempo real, para posteriormente
           procesar los audios y visualizar las emociones de cada audio grabado, del cuál se determina su duración
           mediante la detección de voz y silencio utilizando un algoritmo.
         <p>¿Quieres parametrizar el agoritmo? Puedes configurar la resolución de la frecuencia (FFT),
           la longitud del búfer de audio y el tiempo de retraso en milisegundos para la detección del silencio.</p>
         <p>Además, están a tu alcance los audios que se hayan grabado, para descargar los que más
           te interesen. Si los descargas todos, irán acompañados de un archivo con sus metadatos.</p>
           
         <!-- Controles de grabación -->
         <div class="buttons">
            <button class="btn-initial" (click)="startRecording()">Grabar</button>
            <button class="btn-initial" (click)="stopRecording()">Detener</button>
            <button class="btn-initial" (click)="startRecording()">Grabar</button>
            <button class="btn-initial" (click)="stopRecording()">Detener</button>
            <!-- <button (click)="pauseRecording()">Pausar/Reanudar</button> -->
         </div>

      </div>
      
      <div class="right-container">
         <!-- Progreso de la grabación -->
         <div class="live-record" >
            <!-- Contenedor de WaveSurfer -->
               <!-- <div *ngIf="isRecording">
                  <div #waveform style="border: 1px solid #ddd; margin: 10px 0;"></div>
               </div> -->
            <div #waveform ></div>
            <!-- <p>Progreso: {{ recordingProgress }}</p> -->
         </div>
      </div>
   </div>
   
   <div class="separator"></div>
   <div class="separator"></div>

    <!-- Grabaciones -->
   <div class="records">
      <h2>Grabaciones</h2>
      <button class="btn-secondary" [disabled]="recordingsWithEmotions.length === 0" (click)="downloadAll()">Download All</button>
   </div> 
     <div class="record-container">
        <div #recordings class="audios-recorded"></div>
     </div>
   
   
  </div>