
<h2>Representación gráfica de las emociones de un trabajador</h2>
<div class="cards-container">
<div class="custom-card">
  <div class="card-header">
    <div class="card-title">Emociones dimensionales</div>
  </div>
  <div class="card-content">
    <img src="/img/graphic-image.png" alt="Animación de un gráfico">
    <div>
      <p> Visualización gráfica del estudio longitudinal, puntual y acumulado de un trabajador de la plante.
      </p>
    </div>
  </div>
</div>
<div class="custom-card">
  <div class="card-header">
    <div class="card-title">Emociones categóricas</div>
  </div>
  <div class="card-content">
    <img src="/img/graphic-image.png" alt="Animación de un gráfico">
    <div>
      <p> Visualización gráfica del estudio longitudinal, puntual y acumulado de un trabajador de la plante.
      </p>
    </div>
  </div>
</div>
</div>
<div class="representation-container">
<div class="tabs-container">
    <div class="tabs">
      <button class="tab" [class.active]="selectedTab === 'individual'" (click)="selectTab('individual')">Individual</button>
      <button class="tab" [class.active]="selectedTab === 'turnos'" (click)="selectTab('turnos')">Turnos</button>
    </div>
</div>
  <!-- Mostrar el componente según la tab seleccionada -->
    <app-individual *ngIf="selectedTab === 'individual'"></app-individual>
    <app-shift-representation *ngIf="selectedTab === 'turnos'"></app-shift-representation>
</div>

  
<!-- 
<app-individual></app-individual> -->
  