
<h1>Representación gráfica de las emociones de un trabajador</h1>
<div class="representation-container">
<div class="tabs-container">
    <div class="tabs">
      <button class="tab" [class.active]="selectedTab === 'individual'" (click)="selectTab('individual')">Individual</button>
      <button class="tab" [class.active]="selectedTab === 'turnos'" (click)="selectTab('turnos')">Turnos</button>
    </div>
</div>
<div class="graphic-representation" id="graphic-representation">
  <div *ngIf="selectedTab === 'individual'">
    <app-individual-form (charTypeChange)="onCharTypeChange($event)" [id]="id" ></app-individual-form>
  </div>
  <div *ngIf="selectedTab === 'turnos'">
    <app-shift-form (charTypeChange)="onCharTypeChange($event)"></app-shift-form>
  </div>
  <div class="charts">
    <app-dimensional *ngIf="charType === '1'"></app-dimensional>
    <app-categoric *ngIf="charType === '0'"></app-categoric>
  </div>
</div>
<div class="inferior-container">
  <button class="btn-secondary" [disabled]="isDisabled()" (click)="downloadData()">Descargar Datos</button>
</div>
</div>

  
  