
<h1>Representación gráfica de las emociones de un trabajador</h1>
<!-- <div class="cards-container">
<div class="custom-card">
  <div class="card-header">
    <h2>Emociones categóricas</h2>
  </div>
  <div class="card-content">
    <div>
      <p> Visualización gráfica del estudio longitudinal, puntual y acumulado de un trabajador de la plante.
      </p>
    </div>
  </div>
  <div class="card-bottom">
    <div>
      <button class="btn-initial" type="button" (click)="scrollToGraphic()">
         Visualízalas <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="custom-card">
  <div class="card-header">
    <h2>Emociones dimensionales</h2>
  </div>
  <div class="card-content">
    <div>
      <p> Alegría, felicidad, tristeza, enfado, agresididad, incluso neutralidad son nombres que resuenan para 
        encasillar las emociones.
        Representación longitudinal, puntual o acumulada de un trabajador o de un grupo de trabajadores (seccionados por turno de trabajo)
        de sus respectivas emociones categorizadas.
      </p>
    </div>
  </div>
  <div class="card-bottom">
    <div>
      <button class="btn-initial" type="button" (click)="scrollToGraphic()">
         Visualízalas <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
</div> -->
<div class="representation-container">
<div class="tabs-container">
    <div class="tabs">
      <button class="tab" [class.active]="selectedTab === 'individual'" (click)="selectTab('individual')">Individual</button>
      <button class="tab" [class.active]="selectedTab === 'turnos'" (click)="selectTab('turnos')">Turnos</button>
    </div>
</div>
<div class="graphic-representation" id="graphic-representation">

  <div *ngIf="selectedTab === 'individual'">
    <app-individual-form (charTypeChange)="onCharTypeChange($event)" [id]="id" ></app-individual-form>
  </div>
  <div *ngIf="selectedTab === 'turnos'">
    <app-shift-form (charTypeChange)="onCharTypeChange($event)"></app-shift-form>
  </div>
  <div class="charts">
    <app-dimensional *ngIf="charType === '1'"></app-dimensional>
    <app-categoric *ngIf="charType === '0'"></app-categoric>
  </div>
</div>
<div class="inferior-container">
  <button class="btn-secondary" [disabled]="isDisabled()" (click)="downloadData()">Download Data</button>
</div>
</div>

  
  