<section>
<div class="audio-recording">
  <div class="audio-container">
    <div #waveformContainer class="waveform-container">
      <!-- <div class="dimensional-emotions">
        <p>Arousal: {{ emotions_dimensional[0]?.arousal | number:'1.2-2' }}</p>
        <p>Dominance: {{ emotions_dimensional[0]?.dominance | number:'1.2-2' }}</p>
        <p>Valence: {{ emotions_dimensional[0]?.valence | number:'1.2-2' }}</p>
      </div> -->
    </div>
  </div>

  <div class="emotions-container">
    <div *ngFor="let emotion of emotions_categoric" class="emotion-item">
      <p>{{ emotion.emo }}: {{ emotion.prob.toFixed(2) }}%</p>
      <!-- Contenedor de la barra con fondo gris -->
      <div class="emotion-bar-container">
        <!-- Capa interna que se ajusta al porcentaje y tiene el color de la emoción -->
        <div [ngClass]="emotion.colorClass" class="emotion-bar" 
             [ngStyle]="{ 
               'width': (emotion.prob * 100) + '%' 
             }">
        </div>
      </div>
    </div>

    <div *ngFor="let dimension of emotions_dimensional" class="dimension-item">
      <p>{{ dimension.name }}: {{ (dimension.value * 100).toFixed(2) }}%</p>
      <div class="dimension-bar-container">
        <div 
          [ngClass]="dimension.colorClass" 
          class="dimension-bar" 
          [ngStyle]="{ 'width': (dimension.value * 100) + '%' }">
        </div>
      </div>
    </div>
    
  <div class="controls">
    <button class="btn-form" (click)="playPause()">Play/Pause</button>
    <button class="btn-form" (click)="download()">Download</button>
  </div>
  </div>
 
  
</div>

  <div class="transcription-container">
    <h4>Transcripción:</h4>
    <p>
      <span
        *ngFor="let alignment of alignments"
        [class.active]="isWordActive(alignment)"
        class="word"
      >
        {{ alignment.word }}
      </span>
    </p>
  </div>
</section>
