<h1>Agrupación de los trabajadores por tendencia psicológica </h1>

<div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar por ID..."
      class="search-input"
    />
  </div>
  <div class="groups-container">
    <div class="group-depression">
      <h2>Tendencia depresiva</h2>
      <div class="users_info">
        <p>Total: {{ classificationData.depression.length }}</p>
        <ul>
          <li
            *ngFor="let id of filteredDepression.slice(0, showMoreDepression ? filteredDepression.length : 10)"
            (click)="routeToRepresentation(id)"
          >
            ID: {{ id }}
          </li>
        </ul>
        <button
          *ngIf="filteredDepression.length > 10 && !showMoreDepression"
          (click)="showMore('depression')"
        >
          Leer más
        </button>
      </div>
    </div>
  
    <div class="group-anxiety">
      <h2>Tendencia ansiosa</h2>
      <div class="users_info">
        <p>Total: {{ classificationData.anxiety.length }}</p>
        <ul>
          <li
            *ngFor="let id of filteredAnxiety.slice(0, showMoreAnxiety ? filteredAnxiety.length : 10)"
            (click)="routeToRepresentation(id)"
          >
            ID: {{ id }}
          </li>
        </ul>
        <button
          *ngIf="filteredAnxiety.length > 10 && !showMoreAnxiety"
          (click)="showMore('anxiety')"
        >
          Leer más
        </button>
      </div>
    </div>
  
    <div class="group-no-disorder">
      <h2>Sin tendencia detectada</h2>
      <div class="users_info">
        <p>Total: {{ classificationData.no_disorder.length }}</p>
        <ul>
          <li
            *ngFor="let id of filteredNoDisorder.slice(0, showMoreNoDisorder ? filteredNoDisorder.length : 10)"
            (click)="routeToRepresentation(id)"
          >
            ID: {{ id }}
          </li>
        </ul>
        <button 
          *ngIf="filteredNoDisorder.length > 10 && !showMoreNoDisorder"
          (click)="showMore('noDisorder')"
        >
          Leer más
        </button>
      </div>
    </div>
  </div>
  