.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-bottom: 50px;
}

/* Nuevo contenedor para alinear label + input horizontalmente */
.search-field {
  display: flex;
  flex-direction: column;
}
.search-input {
  width: 80%;
  max-width: 400px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    transition: border-color 0.3s ease;
}

.search-input:focus {
  border: 5px solid;
  border-color: gray; /* Color morado */
  outline: none; /* Elimina el borde del foco predeterminado */
}

.groups-container {
    display: grid; /* Activamos Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    grid-template-rows: auto; /* Altura automática para las filas */
    gap: 20px; /* Espaciado entre los elementos */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px; /* Espaciado interno */
  }
  
  .group-depression,
  .group-anxiety,
  .group-no-disorder {
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid var(--primary-color);
    border-radius: 40px;
    background-color: #d2c8fa;
    text-align: center;
  }
  
  /* Estilo especial para el bloque "Sin tendencia detectada" */
  .group-no-disorder {
    grid-column: 1 / span 2; 
  }
  
  ul {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
  }
  
  li {
    background: #e3e3e3;
    margin: 8px 0;
    padding: 5px;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    background-color: var(--third-color);
    transition: transform 0.3s ease-in-out;
  }

  li:hover {
    cursor:pointer;
    transform: translateY(-6px);
  }
  
  .group-no-disorder ul {
    display: grid; /* Activa el Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* Divide en 2 columnas iguales */
    column-gap: 10px; /* Espaciado entre elementos */
  }

button {
  margin-top: 20px;
}

h1 {
  color: var(--primary-color );
}

.chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  width: 100%;
  margin-top: 40px; /* Opcional: para separar del contenido anterior */
  margin-bottom: 100px;
}


canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 600px;  /* Establece un tamaño máximo si es necesario */
  margin: 0 auto;
}
