<div class="custom-card" [routerLink]="route">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#fbfbfb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-right icon-arrow">
    <circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="m12 16 4-4-4-4"/></svg> -->
    <i class="bi bi-arrow-up-right-circle"></i>
  <div class="card-header">
    <i [class]="'bi ' + iconName"></i> 
  </div>
  <div class="card-content">
    <h1 class="card-title">{{ title }}</h1>
      <p>{{ description }}</p>
  </div>
</div>

<!-- <div class="custom-card" [routerLink]="route">
  <div class="card-header">
    <div class="header-image">
      <div [ngClass]="iconClass">{{ icon }}</div>
    </div>
    <div class="card-title">{{ title }}</div>
  </div>
  <div class="card-content">
    <img [src]="imageUrl" alt="Imagen" class="card-image" />
    <div>
      <p>{{ description }}</p>
    </div>
  </div>
</div> -->
