<div class="custom-card" [routerLink]="route">
  <div class="card-header">
    <img [src]="imageUrl" alt="Imagen" class="card-image" />
  </div>
  <div class="card-content">
    <h1 class="card-title">{{ title }}</h1>
      <p>{{ description }}</p>
  </div>
</div>

<!-- <div class="custom-card" [routerLink]="route">
  <div class="card-header">
    <div class="header-image">
      <div [ngClass]="iconClass">{{ icon }}</div>
    </div>
    <div class="card-title">{{ title }}</div>
  </div>
  <div class="card-content">
    <img [src]="imageUrl" alt="Imagen" class="card-image" />
    <div>
      <p>{{ description }}</p>
    </div>
  </div>
</div> -->
