.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  max-width: 100%;
  height: 450px;
  border: 2px solid var(--primary-color);
  border-radius: 60px;
  background: linear-gradient(to top right, var(--primary-color), var(--third-color));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  position: relative; /* Para que la flecha se posicione dentro del contenedor */
}

.custom-card:hover {
  transform: translateY(-5px); /* Levanta la tarjeta al pasar el rat칩n */
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card-image {
  width: 30%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-content p {
  font-size: 16px;
  color: #555;
  text-align: left;
  margin: 0;
}

h1 {
  color: var(--background-color);
  font-family: "fontSans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: inherit;
}

/* Estilos para la flecha */
.icon-arrow {
  position: absolute; /* Posiciona la flecha en relaci칩n al contenedor */
  top: 10px;
  right: 10px;
  width: 100px; /* Tama침o de la flecha */
  height: 100px; /* Tama침o de la flecha */
}

// button {
//   font-size: 40px;
//   padding: 30px 50px;
//   border-radius: 30%;
// }


// .custom-card {
//     box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
//     border-radius: 0.5rem;
//     box-sizing: border-box;
//     margin: 1.25rem; /* 20px */
//     margin-bottom: 2.5rem; /* 40px */
//     display: flex;
//     flex-direction: column;
//     padding: 1.25rem; /* 20px */
//     background-color: #F1B5AD;
//     cursor: pointer;
//     transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s linear;
//   }
  
//   .custom-card:hover {
//     transform: translateY(-0.125rem); /* -2px */
//     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* 8px, 16px */
//     background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
//   }
  
//   .card-header {
//     display: flex;
//     align-items: center;
//     padding-bottom: 0.625rem; /* 10px */
//     border-bottom: 0.0625rem solid #ccc; /* 1px */
//     margin-bottom: 0.625rem; /* 10px */
//     flex-shrink: 0;
//   }
  
//   .card-title {
//     font-size: 1.5rem;
//     font-weight: bold;
//     color: #333;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
  
//   .header-image {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-right: 0.625rem; /* 10px */
//   }
  
//   .graph-icon {
//     font-size: 2.5rem; /* 40px */
//     color: #3f51b5;
//   }
  
//   .card-content {
//     display: flex;
//     align-items: flex-start;
//     gap: 1.25rem; /* 20px */
//   }
  
//   .card-image {
//     max-width: 10rem; /* 150px */
//     height: auto;
//     border-radius: 0.5rem; /* 8px */
//     flex-shrink: 0;
//   }
  
//   .card-content p {
//     flex: 1;
//     font-size: 1rem;
//     color: #666;
//     line-height: 1.5;
//     margin: 0;
//   }
  