.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  max-width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 60px;
  background: linear-gradient(to top right, var(--primary-color), var(--third-color));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  position: relative; /* Para que la flecha se posicione dentro del contenedor */
}

.custom-card:hover {
  transform: translateY(-5px); /* Levanta la tarjeta al pasar el ratón */
  cursor: pointer;
}

i {
  font-size: 7rem; 
  margin-left: 1rem;
  color: var(--soft-gray-color) ;
  opacity: 0.6;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card-image {
  width: 30%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  color: #555;
  text-align: left;
  margin: 0;
}

h1 {
  color: var(--background-color);
  font-family: "fontSans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: inherit;
}

/* Estilos para la flecha */
i.bi-arrow-up-right-circle {
  position: absolute; /* Posiciona la flecha en relación al contenedor */
  top: 10px;
  right: 20px;
  font-size: 5rem;
  color: var(--background-color); /* Color del icono */
  transition: transform 0.3s ease; /* Efecto de transición */
  opacity: 1;
}

i.bi-arrow-up-right-circle:hover {
  transform: scale(1.1); /* Aumenta el tamaño del icono al pasar el ratón */
}

@media (max-width: 576px) {
  i {
    font-size: 2em;
  }
  i.bi-arrow-up-right-circle  {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  i {
    font-size: 3em;
  }
  i.bi-arrow-up-right-circle  {
    font-size: 3em;
  }
}

@media (min-width: 768px) and (max-width: 2048px)  {
  i {
    font-size: 3em;
  }
  i.bi-arrow-up-right-circle  {
    font-size: 4em;
  }
}