<div class="principal-container">
<div class="inicial-container">
  <h1>Visualiza y reconoce tus emociones</h1>
  <p>Graba e identifica tus emociones a partir de tus ondas vocales</p>
  <button class="btn-initial" (click)="scrollToCards()">Empieza ahora</button>
</div>
<div class = "card-container" id="card-container">
  <app-custom-card 
    [title]="'Gráficos de emociones'" 
    [iconClass]="'graph-icon'" 
    [iconName]="'bi-graph-up'" 
    [description]="'Representaciones gráficas representativas para los trabajadores de la planta. Consulta de manera personalizada la evolución emocional de un solo trabajador o de un grupo de ellos.'"
    [route]="'/representation'">
  </app-custom-card>

  <app-custom-card 
    [title]="'Reconocimiento de voz en tiempo real'" 
    [iconClass]="'graph-icon'" 
    [iconName]="'bi-soundwave'" 
    [description]="'Detección de voz humana en tiempo real. Junto con la presencia y ausencia de silencios se crean grabaciones que se envían directamente para obtener las emociones predominantes.'"
    [route]="'/audio'">
  </app-custom-card>

  <app-custom-card 
    [title]="'Inferencia de emociones'" 
    [iconClass]="'graph-icon'" 
    [iconName]="'bi-file-earmark-zip'" 
    [description]="'Comparte tus audios con sus análisis de datos emocionales en un archivo .csv, para una agradable visualización de los mismos.'"
    [route]="'/csv'">
  </app-custom-card>

  <app-custom-card 
    [title]="'Alta de un trabajador'" 
    [iconClass]="'graph-icon'" 
    [iconName]="'bi bi-person-plus'" 
    [description]="'Da de alta a un trabajador de la empresa para que pueda disfrutar de interacciones por voz y visualizar sus emociones.'"
    [route]="'/csv'">
  </app-custom-card>

</div>
</div>
