:host {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Hace que el host ocupe toda la altura de la pantalla */
  background-image: url('/img/background_bolas_100.png'); /* Imagen de fondo para toda la pantalla */
  background-size: 40%; /* Ajusta la imagen para que se vea entera */
  background-position: center;
  background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que el contenedor */
  transform: translateY(-50px);
}

.login-container {
  position: relative;
  z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.header a {
    margin-left: auto; 
    font-weight: bold;
}
  
  .form-group {
    margin-bottom: 35px;
  }
  
  .form-control {
    width: 95%;
    padding: 10px;
    font-size: 16px;
  }

  input {
    margin-top: 10px;
  }
  
  .is-invalid {
    border-color: #dc3545;
  }
  
  .invalid-feedback {
    color: #dc3545;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .alert {
    text-align: center;
  }
  