<div class="container-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
        <label for="userId">User ID:</label>
        <input id="userId" type="text" placeholder="User id..." formControlName="userId"/>
      </div> -->
    <div class="row">
      <div class="form-group">
        <label for="shift">Turno:</label>
        <ng-select
          id="shift"
          [items]="shifts"
          bindLabel="label"
          bindValue="value"
          formControlName="shift"
          placeholder="Elija un turno"
          [searchable]="false"
        >
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="time">Ventana temporal:</label>
        <ng-select
          id="time"
          [items]="options"
          bindLabel="label"
          bindValue="value"
          formControlName="time"
          placeholder="Elija una opción"
          [searchable]="false"
          (change)="onTimeChange($event)"
        >
        </ng-select>
      </div>
      <div class="col-2 col-sm-6">
        <div class="form-group">
          <button class="btn-initial" type="button" [disabled]="isDatesDisabled">
            <i class="bi bi-calendar"></i> Elegir fecha
          </button>
        </div>
    </div>
  </div>
        <div class="row">
          <!-- Columna para el campo Hiring Date -->
          <div class="col-2 col-sm-6">
            <div class="form-group">
              <label for="startDate">Inicio:</label>
              <input type="date" id="startDate" formControlName="startDate" 
              (change)="onManualDate()"/>
            </div>
          </div>
          <!-- Columna para el campo Registration Date -->
          <div class="col-2 col-sm-6">
            <div class="form-group">
              <label for="endDate">Fin:</label>
              <input type="date" id="endDate" formControlName="endDate" 
              (change)="onManualDate()"/>
            </div>
          </div>
        </div>
      <div class="row">
      <div class="form-group">
        <fieldset>
          <legend>Char type:</legend>
          <label>
            <input type="radio" formControlName="charType" value="0" (change)="onCharTypeChange('0')" /> Categoric
          </label>
          <label>
            <input type="radio" formControlName="charType" value="1" (change)="onCharTypeChange('1')" /> Dimensional
          </label>
        </fieldset>
      </div>
    </div>
        <button type="submit" class="btn-initial">Show</button>
      </form>      
</div>
<button type="button" class="btn-initial" (click)="changePopUpState()">Mostrar Participantes</button>
<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <button class="close-button" (click)="changePopUpState()">✖</button>
    <app-analysis [classificationData]="filteredClassification"></app-analysis>
</div>


