/* Contenedor del formulario */
.container-form {
  margin: 0 auto; /* Centrar el formulario */
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: var(--soft-gray-color); /* Fondo blanco */
  border-radius: 50px; /* Bordes redondeados */
  border: 1px solid #ddd; /* Borde suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Espacio entre los campos */
}

/* Estilo para las etiquetas */
label, legend {
  font-family: 'Arial', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--primary-color); /* Color de las etiquetas */
}

/* Estilo común para todos los campos de entrada */
input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  transition: border-color 0.3s ease; /* Transición para el borde */
}

ng-select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: #fff; /* Fondo blanco */
  transition: border-color 0.3s ease; /* Transición para el borde */
}

.row:nth-child(2) {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Define dos columnas, la primera (Ventana Temporal) ocupa el doble de espacio */
  gap: 0.5rem; /* Espacio pequeño entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
}

.btn-initial:first-of-type {
  padding: 20px 25px;
  margin-top: 2em;
}


.row:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Define dos columnas, la primera (Ventana Temporal) ocupa el doble de espacio */
  gap: 0.5rem; /* Espacio pequeño entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilo para los campos de entrada al enfocarse */
input:focus,
ng-select:focus {
  border-color: #f4c6c0; /* Color de borde al enfocar */
  outline: none; /* Elimina el contorno por defecto */
}

/* Estilo específico para el campo radio dentro del fieldset */
fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 20px;
  display: block; /* Asegura que el fieldset ocupe todo el ancho */
  background-color: #fafafa; /* Fondo suave para el fieldset */
  gap: 30px;
}

/* Alineación de los labels con los radio buttons */
fieldset label {
  display: inline-flex; /* Alinea el radio button y el texto en la misma línea */
  align-items: center; /* Centra verticalmente el contenido */
  margin-left: 30px;
  margin-bottom: 0.5rem; /* Espacio entre las etiquetas */
  font-size: 1rem;
}

/* Estilo para los radio buttons dentro del fieldset */
fieldset input[type="radio"] {
  margin-right: 0.5rem; /* Espacio entre el radio button y el texto */
  display: inline-block; /* Asegura que el radio button esté alineado a la izquierda */
  margin-top: 0.2rem; /* Añadir un pequeño ajuste en la parte superior si es necesario */
}



/* Contenedor del formulario */
// .container-form {
//     // max-width: 400px; /* Aumento el ancho máximo para más espacio */
//     margin: 0 auto;   /* Centrar el formulario */
//     padding: 2rem;
//     box-sizing: border-box;
//     margin-top: 30px;
//     background-color: #ffffff; /* Fondo blanco */
//     border-radius: 8px; /* Bordes redondeados */
//     border: 1px solid #ddd; /* Borde suave */
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
//   }
  
//   /* Estilos generales para el formulario */
//   form {
//     display: flex;
//     flex-direction: column;
//     gap: 1.5rem; /* Espacio entre los campos */
//   }
  
//   /* Estilo para las etiquetas */
//   label, legend {
//     font-family: 'Arial', sans-serif;
//     margin-bottom: 0.5rem;
//     font-weight: bold;
//     font-size: 1rem;
//     color: #333; /* Color de las etiquetas */
//   }
  
//   /* Estilo común para todos los campos de entrada */
//   input,
//   ng-select{
//     padding: 0.75rem;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     font-size: 1rem;
//     width: 100%;
//     box-sizing: border-box;
//     margin-top: 5px;
//     transition: border-color 0.3s ease; /* Transición para el borde */
//   }
  
//   button {
//     width: 100%;
//   }
  
//   /* Estilo para los campos de entrada al enfocarse */
//   input:focus,
//   ng-select:focus {
//     border-color: #f4c6c0; /* Color de borde al enfocar */
//     outline: none; /* Elimina el contorno por defecto */
//   }
  
//   /* Estilo específico para el campo radio dentro del fieldset */
//   fieldset {
//     border: 1px solid #ccc;
//     padding: 1rem;
//     border-radius: 4px;
//     display: block; /* Asegura que el fieldset ocupe todo el ancho */
//     background-color: #fafafa; /* Fondo suave para el fieldset */
//   }
  
//   /* Alineación de los labels con los radio buttons */
//   fieldset label {
//     display: inline-flex; /* Alinea el radio button y el texto en la misma línea */
//     align-items: center; /* Centra verticalmente el contenido */
//     margin-bottom: 0.5rem; /* Espacio entre las etiquetas */
//     font-size: 1rem;
//   }
  
//   /* Estilo para los radio buttons dentro del fieldset */
//   fieldset input[type="radio"] {
//     margin-right: 0.5rem; /* Espacio entre el radio button y el texto */
//     display: inline-block; /* Asegura que el radio button esté alineado a la izquierda */
//     margin-top: 0.2rem; /* Añadir un pequeño ajuste en la parte superior si es necesario */
//   }
  
  
  
//   /* Estilo para los selectores ng-select */
//   ng-select {
//     display: block;
//     padding: 0.75rem;
//     border-radius: 4px;
//     border: 1px solid #ccc;
//   }
  
  