<div class="container-form">
    <div class="header-container">
        <h2>Configuración</h2>
        <button class="btn-secondary" (click)="routeToWorkers()">Trabajadores</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-accordion multi="true">

            <!-- Panel 1: Configuración General -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>General</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="port">Puerto servidor principal</label>
                            <input id="port" type="number" class="form-control" formControlName="port"
                                placeholder="Ej: 5000" />
                        </div>
                    </div>

                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="alignmentPort">Puerto servidor alineación forzada</label>
                            <input id="alignmentPort" type="number" class="form-control" formControlName="alignmentPort"
                                placeholder="Ej: 6000" />
                        </div>
                    </div>
                </div>


            </mat-expansion-panel>

            <!-- Panel 2: Trabajadores -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Análisis</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="id">Nº de trabajadores en la muestra</label>
                            <ng-select id="nWorkers" [items]="numWorkers" bindLabel="label" bindValue="value"
                                formControlName="nWorkers" placeholder="Seleccione..." [searchable]="true">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="id">Nº de muestras</label>
                            <ng-select id="nSamples" [items]="numSamples" bindLabel="label" bindValue="value"
                                formControlName="nSamples" placeholder="Seleccione..." [searchable]="true">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="shifts mt-3">
                    <label for="id">Turnos</label>
                    <div class="mb-2 shifts-containers">
                        <!-- Mañana -->
                        <div class="mb-2">
                            <input type="checkbox" formControlName="amOn" id="amOn" />
                            <label for="amOn">Mañana</label>
                            <div *ngIf="form.get('amOn')?.value" class="time-container ms-3">
                                <label>Inicio:</label>
                                <input type="time" formControlName="amStart" class="form-control" />
                                <label>Fin:</label>
                                <input type="time" formControlName="amEnd" class="form-control" />
                            </div>
                        </div>

                        <!-- Tarde -->
                        <div class="mb-2">
                            <input type="checkbox" formControlName="pmOn" id="pmOn" />
                            <label for="pmOn">Tarde</label>
                            <div *ngIf="form.get('pmOn')?.value" class="time-container ms-3">
                                <label>Inicio:</label>
                                <input type="time" formControlName="pmStart" class="form-control" />
                                <label>Fin:</label>
                                <input type="time" formControlName="pmEnd" class="form-control" />
                            </div>
                        </div>

                        <!-- Noche -->
                        <div class="mb-2">
                            <input type="checkbox" formControlName="ntOn" id="ntOn" />
                            <label for="ntOn">Noche</label>
                            <div *ngIf="form.get('ntOn')?.value" class="time-container ms-3">
                                <label>Inicio:</label>
                                <input type="time" formControlName="ntStart" class="form-control" />
                                <label>Fin:</label>
                                <input type="time" formControlName="ntEnd" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <!-- Panel 3: Audio -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Inferencia</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <!-- pillarlos desde el back -->
                            <label for="id">Modelo de inferencia</label>
                            <ng-select id="models" [items]="inferenceModels" bindLabel="label" bindValue="value"
                                formControlName="models" placeholder="Seleccione..." [searchable]="true"
                                appendTo="body">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="id">Intervalo de silencio (s)</label>
                            <ng-select id="delay" [items]="delays" bindLabel="label" bindValue="value"
                                formControlName="delay" placeholder="Seleccione..." [searchable]="true">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <div>
            <input type="checkbox" formControlName="newData" id="newData" />
            <label for="newData">¿Quieres generar una nueva muestra de datos y explotarlos?</label>
        </div>
        <!-- Botón de guardar al final -->
        <div class="text-center mt-3">
            <button type="button" class="btn-form" (click)="resetDefault()">Reestablecer</button>
            <button class="btn-form" type="submit">Guardar configuración</button>

        </div>
    </form>
</div>