/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// // Define tu paleta de colores primarios, de acento y de advertencia.
// $custom-primary: mat.define-palette(mat.$indigo-palette, 500, 300, 700);
// $custom-second: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $custom-third: mat.define-palette(mat.$red-palette);

// // Crea un tema personalizado usando las paletas definidas.
// $custom-theme: mat.define-light-theme((
//   color: (
//     primary: $custom-primary,
//     second: $custom-second,
//     third: $custom-third,
//   )
// ));

// // Aplica el tema personalizado.
// @include mat.all-component-themes($custom-theme);
:root {
  --primary-color: #6150EA;
  --secondary-color: #876AF1;
  --third-color: #C1B2FA;
  --fourth-color: #c1aadf;
  --soft-gray-color: #D1D1D1;
  --hard-gray-color: #8F8F8F;
  --background-color: #FBFBFB;
  --text-color: #2c3e50;
}

html, body {
  height: 100%; /* Asegura que ocupen todo el viewport */
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
  background: var(--background-color);
    
    // background: #fae8e6;
  font-family: Arial, sans-serif; /* Fuente predeterminada para la app */
  font-size: 22px;
  color: #353535;
}


// body {
//     margin: 0; /* Elimina márgenes predeterminados */
//     padding: 0; /* Elimina relleno predeterminado */
//     height: 100vh; /* Establece la altura al 100% del viewport */
//     background: var(--background-color);
    
//     // background: #fae8e6;
//     font-family: Arial, sans-serif; /* Fuente predeterminada para la app */
//     font-size: 22px;
//     color: #353535;
//   }


h2 , h3, h4 {

// body {
//     margin: 0; /* Elimina márgenes predeterminados */
//     padding: 0; /* Elimina relleno predeterminado */
//     height: 100vh; /* Establece la altura al 100% del viewport */
//     background: var(--background-color);
    
//     // background: #fae8e6;
//     font-family: Arial, sans-serif; /* Fuente predeterminada para la app */
//     font-size: 22px;
//     color: #353535;
//   }


h2 , h3, h4 {
    font-family: "fontSans", sans-serif;
    letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    font-weight: inherit;
}

main {
  flex-grow: 1; /* Asegura que main ocupe el espacio disponible */
}

main {
  flex-grow: 1; /* Asegura que main ocupe el espacio disponible */
}

/* Asegura que el botón se mantenga alineado con los radio buttons */

// button {
//     font-family: 'FraktionMono',monospace ;
//     text-transform: uppercase;
//     font-size: 14px;
//     letter-spacing: 0.05em;
//     background-color: #555;
//     color: white;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     align-self: flex-start; /* Alinea el botón con el inicio de los elementos */
//     padding: 10px 20px;
//     border: none;
//     border-radius: 5px;
//     box-sizing: border-box;
//     transition: border-color 0.3s ease;
//   }
  
//   button:hover {
//     background-color: #666;
//   }

/* Definir la clase btn-form */
.btn-form {
    font-family: 'FraktionMono',monospace ;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
// button {
//     font-family: 'FraktionMono',monospace ;
//     text-transform: uppercase;
//     font-size: 14px;
//     letter-spacing: 0.05em;
//     background-color: #555;
//     color: white;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     align-self: flex-start; /* Alinea el botón con el inicio de los elementos */
//     padding: 10px 20px;
//     border: none;
//     border-radius: 5px;
//     box-sizing: border-box;
//     transition: border-color 0.3s ease;
//   }
  
//   button:hover {
//     background-color: #666;
//   }

/* Definir la clase btn-form */
.btn-form {
    font-family: 'FraktionMono',monospace ;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Alinea el botón con el inicio de los elementos */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Efecto hover para btn-initial */
.btn-form:hover {
  background-color: #666; /* Color de fondo al pasar el ratón */
  color: var(--background-color);
}


/* Definir la clase btn-initial */
.btn-initial {
  font-family: 'FraktionMono', monospace;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  background-color: rgba(193, 178, 250, 0.5); /* Color de fondo personalizado */
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px 65px;
  border: 3px solid var(--primary-color);
  border-radius: 45px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, color 0.2s ease;
}

/* Efecto hover para btn-initial */
.btn-initial:hover {
  background-color: #876AF1; /* Color de fondo al pasar el ratón */
  color: var(--background-color);
}

/* Definir la clase btn-secondary */
.btn-secondary {
  font-family: 'FraktionMono', monospace;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 45px;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, color 0.2s ease;
}

/* Efecto hover para btn-initial */
.btn-secondary:hover {
  background-color: #876AF1; /* Color de fondo al pasar el ratón */
  color: var(--background-color);
}

/* Estilo para el input tipo file */
input[type="file"] {
  font-family: 'FraktionMono', monospace;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--primary-color);
  letter-spacing: 0.05em;
  background-color: rgba(193, 178, 250, 0.5); /* Color de fondo personalizado */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.2s ease;
  padding: 20px 65px;
  border: 3px solid var(--primary-color);
  border-radius: 45px;
  box-sizing: border-box;
  width: auto;
  display: inline-block;
  text-align: center;
}

/* Efecto hover para input file */
input[type="file"]:hover {
  background-color: #876AF1; /* Color de fondo al pasar el ratón */
  color: var(--background-color);
  border-color: #876AF1; /* Cambiar color del borde al pasar el ratón */
}

/* Ocultar el botón de archivo por defecto y mantener solo el estilo personalizado */
input[type="file"]::-webkit-file-upload-button {
  display: none;
}
